.vertical-form{
  display:flex;
  flex-direction: column;
}
.form-box{
  border-radius: 25px;
    padding: 2rem;
    background-color: azure;
    border: 11px solid turquoise;
    width: 50%;
    position: absolute;
    top: 30%;
    left: 25%;
}

a{
  background-color: inherit;
  text-decoration: none;
  color:white;
}

.mat-dialog-actions{
  display:flex;
  align-items: center;
  
}

h1{
  text-align: center;
  font-weight: bold;
}